.bulkdown_button {
  color: #ec2752;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  width: fit-content;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  padding: 5px 15px;
  border-radius: 0.55rem;
  transition: all 0.4s ease;
}

.bulkdown_button:hover {
  transform: translateY(4px);
}

.filter_button {
  background-color: #ec2752;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  padding: 7px 15px;
  border-radius: 0.55rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.filter_button svg {
  transition: all 0.5s ease;
}

.filter_drop {
  position: absolute;
  z-index: 10;
  color: #ec2752;
  background-color: white;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  border-radius: 0.55rem;
  transition: all 0.5s ease;
  overflow: hidden;
}

.filter_option {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.151); */
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.filter_option:hover {
  background-color: #ec2752;
  color: white;
  /* color: black; */
}

.search_bar_wrap {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 34px;
  border-radius: 0.55rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 10px;
  align-items: center;
}

.search_bar_wrap input {
  outline: none;
  width: 100%;
  background-color: transparent;
}
.search_bar_wrap svg {
  margin-right: -5px;
  transition: all 0.5s ease;
  color: #ec2752;
  border-radius: 0.25rem;
}
.search_bar_wrap svg:hover {
  background-color: #ec2752;
  color: white;
}

.date_picker_wrap input {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  right: 0;
}

.date_box {
  color: white;
  background-color: #ec2752;
  border-radius: 0.55rem;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 5px 7px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
}

.date_box svg {
  padding-left: 2px;
  padding-bottom: 2px;
}

.icons_box {
  color: white;
  background-color: #ec2752;
  border-radius: 0.55rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
}
