.outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;

  // background-image: url("../assets/bgImg3.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.55rem;
    background-color: white;
    width: 30%;

    .imgBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .underline {
        width: 100px;
        height: 6px;
        background: black;
        border-radius: 9px;
        margin-bottom: 3px;
        min-height: 6px;
      }
    }

    .innerbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .input {
        margin-top: 15px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 70%;
        height: 50px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
          0px 0px 0px 0px rgba(0, 0, 0, 0.034);
        background-color: whitesmoke;
        border-radius: 0.55rem;

        input {
          width: 100%;
          background: transparent;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .login_button_holder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .login_button {
          font-weight: 500;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease;
          border-radius: 0.55rem;
          height: 40px;
          background-color: var(--primary-color);
          color: white;
          gap: 0;
          width: 70%;
          outline: none;

          .spinner {
            scale: 0.4;
          }
        }

        .login_button:hover {
          box-shadow: 0 0 0 3px var(--tertiary-color);
          scale: 1.03;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .outer {
    .box {
      width: 90%;

      .innerbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .input {
          width: 75%;
        }

        .login_button_holder {
          .login_button {
            width: 75%;
          }
        }
      }
    }
  }
}
