// .SuperContainer {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../assets/bgImg3.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center center;
// }

.Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-image: url("../assets/bgImg3.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  .secondContainer {
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px, rgba(0, 0, 0, 0.22) 0px 0px 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.55rem;
    background-color: white;

    .underline {
      width: 61px;
      height: 4px;
      background: black;
      border-radius: 9px;
      margin-bottom: 3px;
      min-height: 4px;
    }

    select:checked {
      color: black;
    }

    .formOuter {
      margin-top: 15px;

      label {
        font-weight: 500;
        opacity: 70%;
        font-size: small;
        margin-left: 15px;
      }

      .input {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        width: 30vw;
        height: 50px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
          0px 0px 0px 0px rgba(0, 0, 0, 0.034);
        background-color: whitesmoke;
        border-radius: 0.55rem;
        padding: 5px 10px 5px 0px;

        input {
          background: transparent;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
    }

    .forgetpass {
      transition: all 0.5s ease;
    }

    .forgetpass:hover {
      scale: 1.01;
    }

    .login_button_holder {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .login_button {
        font-weight: 500;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        border-radius: 0.55rem;
        height: 40px;
        background-color: var(--primary-color);
        color: white;
        gap: 0;
        width: 80%;

        .spinner {
          scale: 0.4;
        }
      }

      .login_button:hover {
        box-shadow: 0 0 0 3px var(--tertiary-color);
        scale: 1.03;
      }
    }

    .mediaicon {
      display: flex;
      flex-direction: column;
      margin-top: 4vh;
      justify-content: center;
      align-items: center;
      font-size: small;
      font-weight: 600;

      .list {
        display: flex;
        justify-content: space-between;

        .my-icon {
          margin-top: 5px;
          margin-left: 5px;

          width: 30px !important; /* Adjust size here */
          height: 30px !important; /* Adjust size here */
          transition: all 0.3s ease-in-out;
        }

        .my-icon:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Container {
    .secondContainer {
      width: 90vw;

      .formOuter {
        width: 100%;

        label {
          margin-left: 5px;
        }

        .input {
          width: 100%;
          height: 45px;
          padding: 5px 5px 5px 0px;
        }
      }

      .login_button_holder {
        .login_button {
          width: 100%;
        }
      }
    }
  }
}
