.video_box {
  border-radius: 0.65rem;
  transition: all 0.5s ease;
  margin: 20px 20px 0 20px;
}

.video_box video {
  border-radius: 0.55rem;
  width: 500px;
  transition: all 0.5s ease;
}

.scan_page_wrap button {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: 7px 7px;
  outline: none;
  border-radius: 0.55rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px, rgba(0, 0, 0, 0.16) 0px 2px 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* .scan_page_wrap button:hover {
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--primary-color)88 0px 1px 4px, var(--primary-color)7f 0px 2px 8px;
  scale: 1.05;
} */

.torchOn {
  background-color: var(--primary-color);
  color: white;
}

@media screen and (max-width: 767px) {
  .video_box video {
    width: 340px;
  }
}
