.view_wrap {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.acpt_btn {
  background-color: #ec2752;
  color: white;
  padding: 1px 7px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    0px 0px 0px 0px rgba(0, 0, 0, 0.034);
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 0.85rem;
}

.acpt_btn:hover {
  background-color: white;
  color: #ec2752;
  box-shadow: 0px 0px 0px 1px red, 0px 0px 0px 1px red;
}

.view_btn {
  background-color: white;
  color: #ec2752;
  padding: 1px 7px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    0px 0px 0px 0px rgba(0, 0, 0, 0.034);
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 0.85rem;
}

.view_btn:hover {
  background-color: #ec2752;
  color: white;
  box-shadow: 0px 0px 0px 1px red, 0px 0px 0px 1px red;
}

.rjct_btn {
  background-color: white;
  color: red;
  padding: 1px 7px;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 0px 1px red, 0px 0px 0px 1px red;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 0.85rem;
}

.rjct_btn:hover {
  scale: 1.03;
  text-decoration: underline;
}

.search_bar_wrap {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 34px;
  border-radius: 0.55rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  padding-left: 10px;
  align-items: center;
  overflow: hidden;
}

.search_bar_wrap input {
  outline: none;
  width: 100%;
  background-color: transparent;
}
.search_bar_wrap svg {
  transition: all 0.5s ease;
  color: #ec2752;
  width: 35px;
  padding: 5px;
}
.search_bar_wrap svg:hover {
  background-color: #ec2752;
  color: white;
  transform: rotate(360deg);
}

.date_picker_wrap input {
  visibility: hidden;
  position: absolute;
  z-index: 0;
  right: 0;
}

.date_box {
  color: white;
  background-color: #ec2752;
  border-radius: 0.55rem;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 5px 7px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
}

.date_box svg {
  padding-left: 2px;
  padding-bottom: 2px;
}

.icons_box {
  color: white;
  background-color: #ec2752;
  border-radius: 0.55rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
}

.err_mod_box {
  background-color: white;
  width: fit-content;
  border-radius: 0.55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.err_mod_box h6 {
  font-size: 2rem;
  font-weight: bold;
}

.err_mod_box p {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.err_mod_box button {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  padding: 7px 30px;
  margin-top: 7px;
  border-radius: 0.55rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: pointer;
}

.err_mod_box button:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.158),
    0px 0px 4px 0px rgba(0, 0, 0, 0.189);
}

.filter_button {
  background-color: #ec2752;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  padding: 7px 15px;
  border-radius: 0.55rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.filter_button svg {
  transition: all 0.5s ease;
}

.filter_drop {
  position: absolute;
  z-index: 10;
  color: #ec2752;
  background-color: white;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  border-radius: 0.55rem;
  transition: all 0.5s ease;
  overflow: hidden;
}

.filter_option {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.151); */
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.158),
    -1px -1px 2px 0px rgba(0, 0, 0, 0.034);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.filter_option:hover {
  background-color: #ec2752;
  color: white;
}

@media (max-width: 768px) {
  .err_mod_box {
    background-color: white;
    width: 100vw;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }
}
