.page_wrap {
  width: 100vw;
}

.contopt_page {
  position: fixed;
  width: 100.1vw;
  height: 100vh;
  background-color: #ec2752;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuoteCardShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px, rgba(0, 0, 0, 0.1) 0px 5px 12px;
}
